<%= form_with(model: product_license, local: true) do |form| %>
  <% if product_license.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product_license.errors.count, "error") %> prohibited this product_license from being saved:</h2>

      <ul>
      <% product_license.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :license_key %>
    <%= form.text_field :license_key, id: :product_license_license_key %>
  </div>

  <div class="field">
    <%= form.label :product_name %>
    <%= form.text_field :product_name, id: :product_license_product_name %>
  </div>

  <div class="field">
    <%= form.label :purchasing_client %>
    <%= form.text_field :purchasing_client, id: :product_license_purchasing_client %>
  </div>

  <div class="field">
    <%= form.label :client_seat %>
    <%= form.text_field :client_seat, id: :product_license_client_seat %>
  </div>

  <div class="field">
    <%= form.label :service_tag %>
    <%= form.text_field :service_tag, id: :product_license_service_tag %>
  </div>

  <div class="field">
    <%= form.label :purchased %>
    <%= form.check_box :purchased %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
