<p id="notice"><%= notice %></p>

<h1>Product Licenses</h1>

<table>
  <thead>
    <tr>
      <th>License Key</th>
      <th>Product Name</th>
      <th>Purchasing Client</th>
      <th>Client Seat</th>
      <th>Service Tag</th>
      <th>Purchased</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @product_licenses.each do |product_license| %>
      <tr>
        <td><%= product_license.license_key %></td>
        <td><%= product_license.product_name %></td>
        <td><%= product_license.purchasing_client %></td>
        <td><%= product_license.client_seat %></td>
        <td><%= product_license.service_tag %></td>
        <td><%= product_license.purchased? %></td>
        <td><%= link_to 'Show', product_license %></td>
        <td><%= link_to 'Edit', edit_product_license_path(product_license) %></td>
        <td><%= link_to 'Destroy', product_license, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product License', new_product_license_path %>
