<p id="notice"><%= notice %></p>

<p>
  <strong>License key:</strong>
  <%= @product_license.license_key %>
</p>

<p>
  <strong>Product name:</strong>
  <%= @product_license.product_name %>
</p>

<p>
  <strong>Purchasing client:</strong>
  <%= @product_license.purchasing_client %>
</p>

<p>
  <strong>Client seat:</strong>
  <%= @product_license.client_seat %>
</p>

<p>
  <strong>Service Tag:</strong>
  <%= @product_license.service_tag %>
</p>

<%= link_to 'Edit', edit_product_license_path(@product_license) %> |
<%= link_to 'Back', product_licenses_path %>
